<div class="overflow-y-auto h-full bg-[#262626] text-orange-200 w-full">
    <!-- <div class="bg-zinc-900 text-orange-200 bg-no-repeat bg-cover" style="background-image: url(../../../assets/decoration/pngwing.com.png);"> -->
    <div class="pt-4 flex justify-end lg:pr-24">
       <div class="p-4">
        <a href="#"><img src="../../../assets/logos/git-hub.png" class="h-[25px]"></a>
       </div>
       <div class="p-4">
        <a href="#"><img src="../../../assets/logos/instagram-1.png" class="h-[25px]"></a>
       </div>
       <div class="p-4">
        <a href="https://www.facebook.com/med.albania"><img src="../../../assets/logos/facebook.png" class="h-[25px]"></a>
       </div>
    </div>
    <!-- <div class="container">
        <div class="curve"></div>
    </div> -->
    <div class="flex justify-center  text-center p-[12px] xl:pt-24">
        <div class="grid md:grid-cols-2 lg:grid-cols-3 lg:gap-8 content-center w-full">
        <!-- <div class="grid md: grid-cols:2 lg:grid-cols-3 gap-8 content-center xl: w-[1024px]"></div> -->

            <!-- 1ST PIC SECTION -->
            <div class="flex justify-center ">
                <img class="w-[300px] md:w-[400px] md:h-[350px] lg:w-[350px]" src="../../../assets/decoration/dec-web-svg.svg" alt="">
            </div>
            <!-- 2ND INTRO SECTION -->
            <div class="p-4 md:pt-16 w-full"> 
                <div class="w-full md:flex md:w-[600px] content-center">          
                    <div>
                        <div class="text-start">
                            <span class="font-[arial-custom] text-[72px] md:text-6xl lg: text-[90px] xl:text-[90px]">Welcome.</span>
                        </div>
                        <!-- My Intro -->
                        <div class="text-justify space-y-4 w-[300px] md:w-[330px] lg:w-[280px] xl:w-[350px]">
                            <div class="">
                                <span>
                                    My name is Reiner Ahmed Albania, I'm a software developer based in the Philippines.
                                    I have developed many types of application.
                                </span>
                            </div>
                           <div class="">
                            <span>
                                I'm passionate about cutting-edge, pixel-perfect, beautiful interfaces and intuitively 
                                implemented UX.
                            </span>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 3RD PROJECT SECTION -->
            <div class="sm:text-2xl md: text-7xl pt-4 md:pt-16 xl:pt-16 lg:pt-24 md:flex md:justify-center md:col-span-2 lg:col-span-1">
                <!-- <div class="font-[arial-custom] sm:text-2xl md: text-7xl bg-blue-500 sm:bg-red-500 md:bg-green-500 lg:bg-yellow-500 xl:bg-purple-500"> -->
                <div class="xl:w-[350px]">
                    <div class="text-start w-full flex justify-center">
                        <div class="flex justify-center ">
                            <img class="w-[50px]" src="../../../assets/decoration/dec-projects-svg.svg" alt="">
                        </div>
                        <span class="font-[arial-custom] text-2xl md:text-xl lg: text-3xl xl:text-3xl">Projects</span>
                    </div>
                   <div class="text-start pt-4">
                    <div class="md:border-l-2 md:border-orange-200 p-2 pl-4 space-y-2">
                        <div class="">
                            <a [routerLink]="'/task-list'">
                                <div class="flex">
                                    <img class="w-[30px]" src="../../../assets/decoration/dec-task-management-svg.svg" alt="">
                                    <span class="font-mono md:text-base lg: text-lg xl:text-xl">Task Management</span>
                                </div>
                            </a>
                        </div>
                        <div class="">
                            <a href="#">
                                <div class="flex">
                                    <img class="w-[30px]" src="../../../assets/decoration/dec-crud-svg.svg" alt="">
                                    <span class="font-mono md:text-base lg: text-lg xl:text-xl">CRUD Operations</span>
                                </div>
                            </a>
                        </div>
                        <div class="">
                            <a href="#">
                                <div class="flex">
                                    <img class="w-[30px]" src="../../../assets/decoration/dec-mail-svg.svg" alt="">
                                    <span class="font-mono md:text-base lg: text-lg xl:text-xl">Chat System</span>
                                </div>
                            </a>
                        </div>
                        <div class="">
                            <a href="#">
                                <div class="flex">
                                    <img class="w-[30px]" src="../../../assets/decoration/dec-projects-svg.svg" alt="">
                                    <span class="font-mono md:text-base lg: text-lg xl:text-xl">Scheduler</span>
                                </div>
                            </a>
                        </div>
                    </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container flex justify-end">
        <div class="footer-curve" ></div>
    </div>
    <br> <br>
</div>


