<div class="bg-cover bg-no-repeat" style="background-image: url('../../../assets/background/login-bg-md.jpg');">
  <div class="flex min-h-full flex-1 flex-col justify-center px-6 py-8 lg:px-8">
    <div class="grid place-content-center">
      <div class="w-[500px] h-full bg-gray-100 opacity-90 shadow-lg ring-1 ring-inset ring-gray-300 p-8 rounded-lg opacity-80">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
          <img
          class="mx-auto h-[150px] w-auto"
          src="../../../assets/decoration/dec-account-profile-svg.svg"
          alt="Your Company"
        />
          <h2 class=" text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">
            Create new account
          </h2>
        </div>
      
        <div class=" sm:mx-auto sm:w-full sm:max-w-sm">
          <form class="space-y-6" [formGroup]="signUpForm" (ngSubmit)="signUp()">
            <!-- <form class="space-y-6" action="#" method="POST" ></form> -->
            <div>
                <label htmlFor="firstName" class="block text-sm font-medium leading-6 text-gray-900">
                  First Name
                </label>
                <div class="mt-2">
                  <input
                    id="firstName"
                    name="firstName"
                    type="firstName"
                    formControlName="firstName"
                    autoComplete="firstName"
                    required
                    class="block w-full rounded-md border-0 px-3 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                  />
                </div>
              </div>
      
              <div>
                <label htmlFor="lastName" class="block text-sm font-medium leading-6 text-gray-900">
                  Last Name
                </label>
                <div class="mt-2">
                  <input
                    id="lastName"
                    name="lastName"
                    type="lastName"
                    formControlName="lastName"
                    autoComplete="lastName"
                    required
                    class="block w-full rounded-md border-0 px-3 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                  />
                </div>
              </div>
      
            <div>
              <label htmlFor="email" class="block text-sm font-medium leading-6 text-gray-900">
                Email address
              </label>
              <div class="mt-2">
                <input
                  id="email"
                  name="email"
                  type="email"
                  formControlName="email"
                  autoComplete="email"
                  required
                  class="block w-full rounded-md border-0 px-3 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                />
              </div>
            </div>
      
            <div>
              <div class="flex items-center justify-between">
                <label htmlFor="password" class="block text-sm font-medium leading-6 text-gray-900">
                  Password
                </label>
                <!-- <div class="text-sm">
                  <a href="#" class="font-semibold text-indigo-600 hover:text-indigo-500">
                    Forgot password?
                  </a>
                </div> -->
              </div>
              <div class="mt-2">
                <input
                  id="password"
                  name="password"
                  type="password"
                  formControlName="password"
                  autoComplete="current-password"
                  required
                  class="block w-full rounded-md border-0 px-3 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                />
              </div>
            </div>
      
            <div>
              <div class="flex items-center justify-between">
                <label htmlFor="confirmPassword" class="block text-sm font-medium leading-6 text-gray-900">
                  Confirm Password
                </label>
                <!-- <div class="text-sm">
                  <a href="#" class="font-semibold text-indigo-600 hover:text-indigo-500">
                    Forgot password?
                  </a>
                </div> -->
              </div>
              <div class="mt-2">
                <input
                  id="confirmPassword"
                  name="confirmPassword"
                  type="confirmPassword"
                  formControlName="confirmPassword"
                  autoComplete="current-password"
                  required
                  class="block w-full rounded-md border-0 px-3 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                />
              </div>
            </div>
            <div>
              <button
                type="submit"
                class="flex w-full justify-center rounded-md bg-black px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-black focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black
                hover:bg-gray-100 hover:border-2 hover:border-black hover:text-black"
              >
                Sign up
              </button>
            </div>
          </form>
      
          <p class="mt-10 text-center text-sm text-gray-500">
            Already have an account?
            <a [routerLink]="'/sign-in'" class="font-semibold leading-6 text-black hover:text-gray-600">
              Sign-in now!
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>




