<div class="w-full h-full">
    <div class="p-4">
        <span class="font-sans text-3xl">{{title}}</span>
    </div>
    <!-- search/refresh section -->
    <div class="p-4 flex justify-end">
        <div class="p-1 bg-[#EFDAD9] rounded-lg hover:bg-[#F5C9C6] max-h-[36px]">
            <img class="h-[30px] hover:h-[32px]" src="../../../assets/img/icons/ic_refresh.svg" alt="Refresh">
        </div>
        <div class="pl-2">
            <input type="text" 
            class="block w-full rounded-md border-1 border-gray-400 px-2 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
            placeholder="Search Data">
        </div>
    </div>
</div>